.header {
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 16px 51px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: $white;
	box-shadow: 0px 1px 10px 0px $gray-40;
	z-index: $z-header;

	.menu_button {
		display: none;
	}

	.logo {
		width: auto;
		height: 100%;
	}

	.stub {
		display: none;
	}

	@include breakpoint(md) {
		height: 62px;
		padding: 14px 12px;

		.menu_button {
			display: block;
		}

		.user_container {
			display: none;
		}

		.stub {
			display: block;
			width: 24px;
			height: 24px;
			background: transparent;
		}
	}
}
