@import '@assets/styles/colors.scss';
@import '@assets/styles/animations.scss';

.toast {
	padding: 8px 16px;
	width: 100%;
	height: fit-content;
	min-height: 40px;
	background: $red-60;
	border-radius: 4px;
	font-family: 'Avenir Medium';
	font-weight: 500;
	font-size: 16px;
	color: $white;
	cursor: pointer;
	user-select: none;

	&.animate_in {
		animation: slide-left $animation-base;
	}

	&.animate_out {
		animation: slide-right $animation-base;
	}
}

@keyframes slide-left {
	0% {
		transform: translateX(calc(100% + 20%));
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slide-right {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(100% + 20%));
	}
}
