@import '@assets/styles/colors.scss';
@import '@assets/styles/variables.scss';

.breadcrumbs {
	font-family: 'Avenir Medium';
	font-weight: 500;
	font-size: 14px;
	color: $red-80;

	.divider {
		color: $gray-60;
	}

	@media screen and (max-width: $screen-sm) {
		font-size: 13px;
	}
}
