@import '@assets/styles/colors.scss';
@import '@assets/styles/variables.scss';

.container {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 40% 60%;

	@media screen and (max-width: $screen-md) {
		grid-template-columns: 60% 40%;
	}

	@media screen and (max-width: $screen-sm) {
		grid-template-columns: 1fr;

		.image {
			display: none;
		}
	}

	.content {
		background: $white;
		padding: 32px;
	}

	.image {
		background: $light-blue;
		background-repeat: no-repeat;
		background-position: center center;

		&.sign_in {
			background-image: url('@assets/images/signInImage.svg');
		}

		&.sign_up {
			background-image: url('@assets/images/signUpImage.svg');
		}

		// специально добавил, мне кажется так выглядит лучше
		height: 100vh;
		position: sticky;
		top: 0;

		@media screen and (max-width: $screen-lg) {
			background-size: contain;
		}
	}
}
