@import '@assets/styles/colors.scss';
@import '@assets/styles/variables.scss';
@import '@assets/styles/animations.scss';

.container {
	display: flex;
	flex-direction: column;

	.label {
		color: $gray-80;
		font: $avenir-medium-14;
		margin-bottom: 4px;
	}

	.select {
		.control {
			background: $gray-20;
			cursor: pointer;
			box-shadow: none;
			border: none;
			transition: $transition-bg-300-ease;

			.value_container {
				padding: 7px 12px;
				gap: 4px;

				.placeholder,
				.single_value {
					font: $avenir-medium-14;
				}

				.placeholder {
					color: $gray-80;
				}

				.single_value {
					color: $gray-100;
				}
			}

			.clear_indicator {
				svg {
					width: 16px;
					height: 16px;
					color: $gray-40;
				}
			}

			.dropdown_indicator {
				color: $gray-40;
				padding: 11.5px 12px;
			}

			.indicator_separator {
				margin: 7.5px 0;
				width: 0.5px;
				height: 24px;
				background: $gray-40;
			}
		}

		&.error {
			.control {
				border: 1px solid $red-40;
			}
		}

		.menu {
			box-shadow: none;
			margin: 3px 0;
			border: 0.5px solid $gray-40;
			z-index: $z-popover;

			.menu_list {
				padding: 0;
				border-radius: $border-radius-base;

				.option {
					padding: 9px 20px;
					cursor: pointer;
					transition:
						color 0.3s ease,
						background 0.3s ease;
					font: $avenir-medium-14;
					color: $gray-60;

					&:not(:last-child) {
						border-bottom: 0.5px solid $gray-40;
					}

					&:last-child {
						padding: 9.25px 20px;
					}

					&.focused {
						background: $white;
					}

					&:hover {
						background: $red-40;
						color: $white;
					}

					&.selected {
						background: $red-100;
						color: $white;
					}
				}
			}
		}
	}

	.error {
		font: $avenir-medium-12;
		margin-top: 2px;
		color: $red-40;
	}
}
