@import '@assets/styles/colors.scss';

//here is overriding ui lib styles

.react-select__control,
.react-select__control:hover {
	border: 1px solid $gray-40 !important;
	box-shadow: none !important;
	cursor: pointer;
}

.react-select__indicator.react-select__dropdown-indicator {
	color: $gray-60;
}

.react-select__indicator-separator {
	background-color: $gray-60 !important;
	width: 0.5px !important;
}

.react-select__value-container.react-select__value-container--has-value {
	padding: 2px 20px;
}

.react-select__single-value {
	color: $gray-100 !important;
}

.react-select__menu {
	box-shadow: none !important;
}

.react-select__menu-list {
	padding: 0 !important;
	border-radius: 4px;
	border: 1px solid $gray-40;
}

.react-select__option {
	color: $gray-60 !important;
	cursor: pointer !important;
	background: $white;
}

.react-select__option:not(:last-child) {
	border-bottom: 0.5px solid $gray-40;
}

.react-select__option.react-select__option--is-focused {
	color: $gray-60 !important;
	background: $white;
}

.react-select__option:hover {
	background: $red-40;
	color: $white !important;
}

.react-select__option.react-select__option--is-selected {
	background: $red-100;
	color: $white !important;
}
