@import '@assets/styles/colors.scss';
@import '@assets/styles/variables.scss';

.empty_container {
	display: flex;
	justify-content: center;
	align-items: center;

	.empty_card {
		padding: 48px 37px;
		width: fit-content;
		height: fit-content;
		max-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 48px;
		border-radius: 15px;
		background: $white;
		align-self: center;

		.empty_image {
			width: 482px;
			aspect-ratio: 2/1.3;

			&.square {
				aspect-ratio: 1/1;
				width: 320px;
				margin: 0 70px;
			}
		}

		.empty_text_container {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 24px;

			.empty_title {
				font-family: 'Avenir Black';
				font-weight: 900;
				font-size: 36px;
				color: $red-40;
			}

			.empty_description {
				font-family: 'Avenir Book';
				font-weight: 400;
				font-size: 24px;
				color: $gray-80;
				text-align: center;
			}
		}
	}
	@media screen and (max-width: $screen-sm) {
		align-items: start;
		width: calc(100% + 24px);
		margin: 0 -12px;

		.empty_card {
			border-radius: 0;

			.empty_image {
				width: 339px;
				aspect-ratio: 2/1.3;
				max-width: calc(100% - 36px);

				&.square {
					aspect-ratio: 1/1;
					width: 100%;
					max-width: calc(100% - 150px);
					min-width: 225px;
					margin: 0;
				}
			}
		}
	}
}
