.select {
	width: fit-content;

	.control {
		background: $white;
		border: 0.5px solid $gray-40;
		cursor: pointer;
		box-shadow: none;

		&:hover {
			border-color: $gray-40;
		}

		.value_container {
			padding: 7.5px 20px;
			.single_value {
				padding: 0;
				margin: 0;
				line-height: 24px;
				@include avenir-medium;
				font-size: 14px;
			}
		}

		.dropdown_indicator {
			color: $gray-60;
			padding: 7.5px 6px;
		}

		.indicator_separator {
			margin: 7.5px 0;
			width: 0.5px;
			height: 24px;
			background: $gray-60;
		}
	}

	.menu {
		box-shadow: none;
		margin-bottom: 6px;
		margin-top: 0;
		border: 0.5px solid $gray-40;

		.menu_list {
			padding: 0;
			border-radius: $border-radius-base;

			.option {
				padding: 9px 20px;
				cursor: pointer;
				transition: $transition-color-300-ease, $transition-bg-300-ease;
				@include avenir-medium;
				font-size: 14px;
				color: $gray-60;

				&:not(:last-child) {
					border-bottom: 0.5px solid $gray-40;
				}

				&:last-child {
					padding: 9.25px 20px;
				}

				&.focused {
					background: $white;
				}

				&:hover {
					background: $red-40;
					color: $white;
				}

				&.selected {
					background: $red-100;
					color: $white;
				}
			}
		}
	}

	@include breakpoint(sm) {
		.control {
			min-height: 28px;
			.value_container {
				padding: 1.5px 14px;
				.single_value {
					font-size: 15px;
				}
			}

			.dropdown_indicator {
				padding: 4.5px 4px;
				svg {
					width: 16px;
					height: 16px;
				}
			}

			.indicator_separator {
				margin: 2px 0;
				height: 20px;
			}
		}

		.menu {
			.menu_list {
				.option {
					padding: 6px 14px;
					font-size: 15px;

					&:last-child {
						padding: 6.25px 14px;
					}
				}
			}
		}
	}
}
