.container {
	display: flex;
	flex-direction: column;

	.label {
		color: $gray-80;
		@include avenir-medium;
		font-size: 14px;
		margin-bottom: 4px;
	}

	.error {
		@include avenir-medium;
		font-size: 12px;
		margin-top: 2px;
		color: $red-40;
	}
}

.input_container {
	width: fit-content;
	height: fit-content;
	position: relative;
	border-radius: $border-radius-base;

	.input {
		background: $gray-20;
		@include avenir-medium;
		font-size: 14px;
		color: $gray-100;
		border: none;
		padding-right: 40px;
		height: 40px;
		border-radius: $border-radius-base;
		width: 100%;
		padding-left: 12px;
	}

	&.error {
		border: 1px solid $red-40;
	}

	.icon {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
