@import '@assets/styles/colors.scss';
@import '@assets/styles/variables.scss';

.form {
	max-width: 366px;
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 24px;

	.title {
		color: $blue;
		font-size: 36px;
		font-weight: 400;
		margin-bottom: 8px;
	}

	.suggestion {
		font: $avenir-medium-14;
		color: $gray-80;
		align-self: center;

		.link {
			color: $red-80;
			text-decoration: underline;
		}
	}
}
