@import '@assets/styles/colors.scss';
@import '@assets/styles/variables.scss';

.container {
	width: 336px;
	height: 261px;
	background-color: $gray-60;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 10px;
	color: $white;

	&.container_error {
		border: 1px solid $red-40;
	}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		border-radius: 10px;
		background: rgba($color: $gray-60, $alpha: 0.5);
	}

	.input {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}

	.loader_icon {
		width: 120px;
		height: 120px;
	}

	.photo_icon {
		width: 75px;
		height: 75px;
	}

	.loader_icon,
	.photo_icon {
		z-index: 1;
	}

	@media screen and (max-width: $screen-lg) {
		width: 200px;
		height: 155px;
	}

	@media screen and (max-width: $screen-sm) {
		width: 185px;
		height: 144px;

		.loader_icon {
			width: 64px;
			height: 64px;
		}

		.photo_icon {
			width: 40px;
			height: 40px;
		}
	}
}

.error {
	font-family: 'Avenir Medium';
	font-weight: 500;
	font-size: 12px;
	margin-top: 2px;
	color: $red-40;
}
