$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

$z-header: 50;
$z-popover: 30;

$border-radius-base: 4px;

$avenir-black-36: 900 36px 'Avenir Black';
$avenir-black-24: 900 24px 'Avenir Black';

$avenir-medium: 500 'Avenir Medium';
$avenir-medium-12: 500 12px 'Avenir Medium';
$avenir-medium-13: 500 13px 'Avenir Medium';
$avenir-medium-14: 500 14px 'Avenir Medium';
$avenir-medium-15: 500 15px 'Avenir Medium';
$avenir-medium-16: 500 16px 'Avenir Medium';
$avenir-medium-18: 500 18px 'Avenir Medium';

$avenir-book-24: 400 24px 'Avenir Book';
$avenir-book-14: 400 14px 'Avenir Book';
