.overlay {
	position: fixed;
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba($color: $gray-85, $alpha: 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: $z-modal;

	&.animate_in_overlay {
		animation: $animate-fade-in;
	}

	&.animate_out_overlay {
		animation: $animate-fade-out;
	}

	.modal {
		border-radius: 10px;
		background: $white;
		border: 0.5px solid $gray-40;
		padding: 8px;

    &.animate_in {
      animation: puff-in-center 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    }

    &.animate_out {
      animation: puff-out-center 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    }

		.header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 16px;
			gap: 32px;

			.title {
				@include avenir-book;
				font-size: 18px;
				color: $gray-80;
			}

			svg {
				width: 20px;
				height: 20px;
			}
		}

		.actions {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 16px;
		}
	}
}

@keyframes puff-in-center {
	0% {
		transform: scale(2);
		filter: blur(4px);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		filter: blur(0px);
		opacity: 1;
	}
}

@keyframes puff-out-center {
	0% {
		transform: scale(1);
		filter: blur(0px);
		opacity: 1;
	}
	100% {
		transform: scale(2);
		filter: blur(4px);
		opacity: 0;
	}
}
