@import '@assets/styles/colors.scss';
@import '@assets/styles/variables.scss';

.container {
	display: flex;
	flex-direction: column;

	.label {
		color: $gray-80;
		font: $avenir-medium-14;
		margin-bottom: 4px;
	}

	.input {
		background: $gray-20;
		font: $avenir-medium-14;
		color: $gray-100;
		border: none;
		padding-right: 40px;
		height: 40px;
		border-radius: $border-radius-base;

		&.error {
			border: 1px solid $red-40;
		}
	}

	.error {
		font: $avenir-medium-12;
		margin-top: 2px;
		color: $red-40;
	}
}
